@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

body {
  font-family: "Poppins", system-ui;
  font-weight: 500;
  font-style: normal;
  user-select: none;
}
